:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: rgb(49, 45, 45);
  color: yellow ;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.sponge{
  width: 7rem;
  height: 6rem;
  position:relative;
  border-radius: 50%;
}


.header{  
  display: flex;
  background-color: blue;
  border-radius: 10%/80%;
  margin-right:15%;
  margin-left:15%;
  align-items: center;
  justify-content: space-between;
  height: 65px;
  color: white;
  padding: 15px;
}

.meme {
  padding-top: 30px;
  position: relative;
}


.memeImage{


  min-width: 50%;
  max-width: 50%;
  margin-top: 10px;
  padding-top: 10px;  
}
.form{
  margin-right:25%;
  margin-left:25%;
  width:50%;
  align-items: center;
}

.formInput{
  margin-top: 50px;
  margin-right:10px;
  min-width: 40%;
  padding:5px;
  text-align:center;
  text-align: left;
}

.memeText{

  position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: aqua;
    letter-spacing: 1px;
    text-shadow: 0.1em 0.1em #333;
    
}

.bottom{
  bottom:0;
}
.formButton{
  width:50%;
  background-color:blue;
  color:white;

  margin-top:30px;
}

.memesList{
color: aqua;
}
