html, body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom right, purple, black);
    background-size: cover;
    background-repeat: no-repeat;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
   text-align: center;
}


li {
    margin-top: 100px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-bottom: 10px; 
    color:#ccc;
  }

  .completed{
    text-decoration:line-through;
  }
  .delete {
    text-decoration:none;
    border-radius: 10%;
    margin-top: 20px;
    height: 50px;
    background-color: black ;
    color: purple ;
  }
  
 
  li img {
    width: 380px;
    height: 180px; 
    margin-top: 10px; 
    border-radius: 50%;
    
  }
  

form {
    max-width: 400px;
    margin: 0 auto;
  }
  
 
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  

  input[type="text"],
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  
  button[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  #todoList {
    margin-top: 20px;
  }

  